<!-- <div class="imgdiv">
<img class="fit" src="../../assets/images/img7.jpg" alt="Car1">
</div> -->
<body>
    <div style="position: relative; left: 0; top: 0;">
        <img src="../../assets/images/img1.jpg" class="img1" />
        <img src="../../assets/images/img2.png" class="img2" />
        <img src="../../assets/images/img3.png" class="img3" />
    </div>
    <div class="midtext">
    <h1 class="jt --debug">
        <span class="jt__row">
          <span class="jt__text">QuickWay</span>
        </span>
        <span class="jt__row jt__row--sibling" aria-hidden="true">
          <span class="jt__text">QuickWay</span>
        </span>
        <span class="jt__row jt__row--sibling" aria-hidden="true">
          <span class="jt__text">QuickWay</span>
        </span>
        <span class="jt__row jt__row--sibling" aria-hidden="true">
          <span class="jt__text">QuickWay</span>
        </span>
      </h1> 
      </div>
    </body>    
      <div>
          <h2 class="secondtext">
            <span>You</span>drive,<span>we </span>care<span>.</span>
          </h2>
      </div>
